.contents__popular {
	margin-bottom: 22px;
}

.contents__popular .popular__title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.contents__popular .popular__viewall {
	color: #ea6371;
	cursor: pointer;
}

.contents__popular .popular__list {
	height: 150px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: scroll;
	border-radius: 10px;
}

.popular__list .popular__category {
	width: 120px;
	height: 70px;
	border-radius: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.popular__list .popular__category-img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;
}

.popular__category:nth-child(1) .popular__category-img {
	background-image: url("../img/recipe_pic1.jpeg");
}

.popular__category:nth-child(2) .popular__category-img {
	background-image: url("../img/recipe_pic2.jpeg");
}

.popular__category:nth-child(3) .popular__category-img {
	background-image: url("../img/recipe_pic3.jpeg");
}

.popular__category:nth-child(4) .popular__category-img {
	background-image: url("../img/recipe_pic4.jpeg");
	);
}

.popular__category:nth-child(5) .popular__category-img {
	background-image: url("../img/recipe_pic5.jpeg");
}

.popular__list .popular__category-mask {
	width: 100%;
	height: 100%;
	background: linear-gradient(white, black);
	opacity: 0.5;
	position: absolute;
}

.popular__list .popular__category-name {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
}
