.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	color: #0f0f0f;
}

.main-header__column {
	display: flex;
	align-items: center;
}

.main-header .main-header__icon {
	font-size: 0.7em;
	margin-left: 4px;
}

.main-header__icon .fa-battery-full {
	font-size: 1.6em;
}
