@import "reset.css";
@import "header.css";
@import "contents.css";
@import "nav.css";

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Roboto";
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #868686;
}

* {
	box-sizing: border-box;
}

.outer-frame {
	width: 330px;
	height: 690px;
	position: relative;
	background-color: #9644a5;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.background-frame {
	width: 100%;
	height: 100%;
	position: relative;
}

.background-img {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(https://i.pinimg.com/564x/75/76/0b/75760b9d1724036471ca67a6feeef0f6.jpg);
	background-position: center center;
	background-size: cover;
}

.background-mask {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}

.inner-frame {
	width: 100%;
	height: 100%;
	padding: 0px 20px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
}
