@import "reset.css";
@import "pic.css";
@import "info.css";
@import "nav.css";

html,
body {
	width: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	background-color: #e8e8eb;
	color: #99a8c1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame {
	height: 825px;
	width: 380px;
	border-radius: 30px;
	overflow: hidden;
	z-index: -1;
	position: relative;
	background-color: #f0f2f3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.frame__background {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(https://i.pinimg.com/736x/71/0c/1c/710c1c2c5b81a2612df4feb652f81b42.jpg);
	background-size: cover;
	background-position-y: -100px;
	z-index: -1;
}

.frame__content {
	padding: 0px 30px;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0), #f0f2f3ff 60%);
}
